<div class="content">  
    <div class="wrapper">
    <div class="admin-wrapper">
        <nav class="adminmenu-wrapper" role="navigation">
          <ul class="adminmenu">
            <li><a href=""><span class="glyphicon glyphicon-dashboard"></span>Dashboard</a></li>
            <!-- <li><a data-toggle="collapse" href="#postcollapse" aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-pushpin"></span>Post</a>
              <div class="collapse" id="postcollapse">
                <ul class="submenu">
                  <li><a href="">Edit</a></li>
                  <li><a href="">Add New</a></li>
                  <li><a href="">Post Tags</a></li>
                  <li><a href="">Categories</a></li>
                </ul>
              </div>   
            </li> -->
            <!-- <li>
              <a data-toggle="collapse" href="#monthly-collapse" aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-calendar"></span>Monthly Special</a>
              <div class="collapse" id="monthly-collapse">
                <ul class="submenu">
                  <li><a href="">Edit</a></li>
                  <li><a href="">Media</a></li>
                  <li><a href="">Links</a></li>
                </ul>
              </div>
            </li> -->
            <li>
              <a data-toggle="collapse" href="#page-collapse" aria-expanded="true" aria-controls="collapseExample"><span class="glyphicon glyphicon-file"></span>Gallery</a>
              <div class="collapse in" id="page-collapse">
                <ul class="submenu">
                  <!-- 
                  // Replace 2 buttons of services with buttons of Gallery
                  <li><a href=""  class="current" ng-click="saveService()">Save</a></li>
                  <li><a href="" ng-click="clearService()">Add New</a></li> -->
                  <div style="clear: both;">
                      <button ng-click="clearGallery()">Clear</button>
                      <button ng-click="saveGallery()">Save</button>
                  </div>
                </ul>
              </div>
            </li>
            <!-- <li><a href=""><i class="fa fa-comments"></i>Comments</a></li>
            <li><a href=""><i class="fa fa-paint-brush"></i>Appearance</a></li>
            <li><a href=""><i class="fa fa-cogs"></i>Plugins</a></li>
            <li><a href=""><i class="fa fa-user"></i>Users</a></li>
            <li><a href=""><i class="fa fa-wrench"></i>Tools</a></li>
            <li><a href=""><i class="fa fa-sliders"></i>Settings</a></li>
            <li><a href=""><span class="glyphicon glyphicon-pushpin"></span>Header</a></li>
            <li><a href=""><span class="glyphicon glyphicon-pushpin"></span>Flutter</a></li>  -->
          </ul>  
        </nav>


       <div id="admin-content">
            <div id="wrap">
                <h1>Gallery Name</h1> 
                <form action="" method="post">
                  <div class="col-md-9 pdl">
                    <div class="entry-content">
                      <div class="entry-title">
                          <input type="text" class="form-control" placeholder="Enter gallery name" ng-model="current_gallery.name">
                      </div><!--entry title-->
                    </div>
                  </div>
        <div class="container">
            <div class="content">
                <div class="wrapper">
                    <div class="content-editor">
                        <div class="editor-controls">
                          <h4>Upload</h4>
                             

                        </div>
                    <div>
                        <label>Images</label>
                        <div class="images">
                            <div class="image" ng-repeat="image in current_image_list">
                                <img src="/galleries/{{ image.filename }}" class="img-rounded" alt="Cinque Terre" width="100" height="100">
                                <br>
                                {{ image.name }} ({{ image.filename }})
                            </div>
                        </div>
                    </div>
                    <div style="clear: both;">
                        <label>Add New</label>
                        <div class="images">                              
                            <p ng-show="current_gallery.id"> 
                                <input type = "file" file-model = "myFile"/>
                                <button ng-click = "uploadImage()">Upload Image</button>
                            </p>
                            <p ng-hide="current_gallery.id">Select or Create a new Gallery</p>
                        </div>
                    </div>
                   </div>
                </div>
            </div>
        </div>    

            <div class="list_wrapper">
                <div class="title">Galleries</div>
                <div class="list">
                    <div class="item" ng-repeat="gallery in gallery_list">
                        <a class="link" ng-click="getGallery(gallery.id)">{{ gallery.name }}</a>
                    </div>
                </div>
            </div> 


      </div><!--admin content-->

